<a href="https://colab.research.google.com/github/NaveedhAhmed-A/Clustering/blob/main/mall_customers_clustering_using_DBSCAN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [19]:
df = pd.read_csv("/content/Mall_Customers.csv")
df.head()

   CustomerID   Genre  Age  Annual_Income_(k$)  Spending_Score
0           1    Male   19                  15              39
1           2    Male   21                  15              81
2           3  Female   20                  16               6
3           4  Female   23                  16              77
4           5  Female   31                  17              40

In [20]:
encoder = LabelEncoder()
df['Genre'] = encoder.fit_transform(df['Genre'])
df.head()

   CustomerID  Genre  Age  Annual_Income_(k$)  Spending_Score
0           1      1   19                  15              39
1           2      1   21                  15              81
2           3      0   20                  16               6
3           4      0   23                  16              77
4           5      0   31                  17              40

In [21]:
x = df.drop(['Age','CustomerID','Genre'],axis = 1)
x.head()

   Annual_Income_(k$)  Spending_Score
0                  15              39
1                  15              81
2                  16               6
3                  16              77
4                  17              40

In [22]:
scalar = StandardScaler()
x_scaled = scalar.fit_transform(x)

In [48]:
from sklearn.cluster import DBSCAN
db = DBSCAN(eps = 0.4,min_samples = 4,metric = 'euclidean')
model = db.fit(x_scaled)

In [49]:
label,count = unique_labels, counts = np.unique(model.labels_, return_counts=True)
print(label)
print(count)

[-1  0  1  2]
[ 14 126  33  27]

In [47]:
df['cluster'] = model.labels_
df.head(100)

    CustomerID  Genre  Age  Annual_Income_(k$)  Spending_Score  cluster
0            1      1   19                  15              39       -1
1            2      1   21                  15              81        0
2            3      0   20                  16               6       -1
3            4      0   23                  16              77        0
4            5      0   31                  17              40       -1
..         ...    ...  ...                 ...             ...      ...
95          96      1   24                  60              52        1
96          97      0   47                  60              47        1
97          98      0   27                  60              50        1
98          99      1   48                  61              42        1
99         100      1   20                  61              49        1

[100 rows x 6 columns]